body {
  background-color: #3867d6;
  margin: 0;
  padding: 0;
}
/*Police*/
.perso-class,
.title {
  font-family: "Lexend Mega", sans-serif;
}

p {
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
}

/* Personnalisation de la barre de navigation */

.custom-navbar {
  height: 80px;
  border-bottom: 2px solid white; /* Trait de délimitation de 2px en bas */
}

.custom-logo {
  width: 60px;
  height: 60px;
}

.perso-class {
  font-weight: 20px;
}
/*Introduction*/
.Introduction {
  margin-bottom: 200px;
}

.content1 {
  border-top: 10px solid #f1c40f;
  border-left: 10px solid #f1c40f;
}

.content1 {
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 32px;
  color: #f1c40f;
}

.text {
  color: white;
}

.title,
.text {
  margin-top: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo {
  width: fit-content;
  height: 600px;
  z-index: -1;
}

/*Présentation*/

.profile-picture {
  border-radius: 50%;
  width: 250px;
}

.logo-container2 {
  border-bottom: 10px solid #f1c40f;
  border-right: 10px solid #f1c40f;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 100px;
}
